/log/*
/tmp/*
!/tmp/.keep
/storage/*
!/storage/.keep
/.bundle
/.ruby-gemset
/vendor/bundle
.env*
!.env.example
/config/master.key
/config/credentials/*.key
/app/assets/builds/*
!/app/assets/builds/.keep
